data/27cd6b8c7e8049edb874f9664c54f857_reorient-background.nii.gz
data/27cd6b8c7e8049edb874f9664c54f857_reorient-calcium.nii.gz
data/27cd6b8c7e8049edb874f9664c54f857_reorient-guidewire.nii.gz
data/27cd6b8c7e8049edb874f9664c54f857_reorient-lipid.nii.gz
data/27cd6b8c7e8049edb874f9664c54f857_reorient-lumen.nii.gz
data/27cd6b8c7e8049edb874f9664c54f857_reorient-sidebranch.nii.gz
data/27cd6b8c7e8049edb874f9664c54f857_reorient-wall.nii.gz
data/image.nii.gz
data/centered_27cd6b8c7e8049edb874f9664c54f857_reorient-background.nii.gz.npy
data/centered_27cd6b8c7e8049edb874f9664c54f857_reorient-calcium.nii.gz.npy
data/centered_27cd6b8c7e8049edb874f9664c54f857_reorient-guidewire.nii.gz.npy
data/centered_27cd6b8c7e8049edb874f9664c54f857_reorient-lipid.nii.gz.npy
data/centered_27cd6b8c7e8049edb874f9664c54f857_reorient-lumen.nii.gz.npy
data/centered_27cd6b8c7e8049edb874f9664c54f857_reorient-sidebranch.nii.gz.npy
data/centered_27cd6b8c7e8049edb874f9664c54f857_reorient-wall.nii.gz.npy
data/centered_image.npy
.DS_Store
.ipynb_checkpoints/ImageAlignment-checkpoint.ipynb
data/centered_image_gray.npy
.ipynb_checkpoints/ImageAlignment-checkpoint.ipynb
.ipynb_checkpoints/OCTImageAlignment-checkpoint.ipynb
